# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=creditsense_db
DB_USER=creditsense_user
DB_PASSWORD=your_password_here

# Flask Services
ML_SERVICE_PORT=5000
FRAUD_SERVICE_PORT=5001
ANALYTICS_SERVICE_PORT=5002

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT (for Month 3)
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRY_MINUTES=15